
*{ 
    font-family: Georgia;
}

p{
    font-size: 125%;
}



html{
  Color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-attachment: fixed;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: auto;
}

.code{
    font-family: Consolas;
    Color: red;
}

.button {
    font-family: diablo_lite;
    background-color: black;
    Color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    border-style: double;
    border-width: 5px;
    border-color: white
}

.wrapper{
    text-align: center;
}

.titleBar{
        border-style: double;
        border-width: 5px;
        border-color: white
        Color: white;
        background: black;
        text-align: center;
        border-radius: 12px;
        float: left;
        width: 100%;    
}

.textScroll {
    height:650px;
    width:350px;
    font-size: 75%;
    overflow:scroll;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 12px;
}

.textCode {
    height:300px;
    width:800px;
    font-size: 75%;
    overflow:scroll;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 12px;
}
table{
	border-style: solid;
	border-color: white;
    background-color: black;
}

td{
	border-style: solid;
}
td img{
    margin-left: auto;
    margin-right: auto;
}